apiVersion: apps/v1
kind: Deployment
metadata:
  name: backendservice-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backendservice
        image: backend-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        env: []
