apiVersion: apps/v1
kind: Deployment
metadata:
  name: clientservice-deployment
  labels:
    app: client
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: clientservice
        image: client-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
